// colors
$color-base-light: #ffffff;
$color-main: #8e2424;
$color-blue-dark: #101828;
$color-text-main: #667085;
$color-text-gray: #98a2b3;
$color-logo: #3a404e;
$color-border: #eaecf0;
$color-base-main: rgba(142, 36, 36, 0.05);

// fonts weight
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
